<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://liotou.github.io/SwiftShift/appcast-plus.xml</string>
  <key>SUPublicEDKey</key>
  <string>tRAWODxJ3s90GS/B5LilruSKzCM8Ytl/jygAL4zE78E=</string>
</dict>
</plist>
